### Build results
.sconsign.dblite
linux
win32
win64
build

### emacs backup files
*~
\#*
.\#*

### Misc irrlicht files
libIrrlicht/bin/
libIrrlicht/doc/html/
libIrrlicht/examples/
libIrrlicht/lib/
libIrrlicht/media/
libIrrlicht/source/Irrlicht/Irrlicht-gcc.cbp
libIrrlicht/source/Irrlicht/Irrlicht.aps
libIrrlicht/source/Irrlicht/Irrlicht.dev
libIrrlicht/source/Irrlicht/Irrlicht.rc
libIrrlicht/source/Irrlicht/Irrlicht10.0.sln
libIrrlicht/source/Irrlicht/Irrlicht10.0.vcxproj
libIrrlicht/source/Irrlicht/Irrlicht10.0.vcxproj.filters
libIrrlicht/source/Irrlicht/Irrlicht11.0.sln
libIrrlicht/source/Irrlicht/Irrlicht11.0.vcxproj
libIrrlicht/source/Irrlicht/Irrlicht11.0.vcxproj.filters
libIrrlicht/source/Irrlicht/Irrlicht8.0.sln
libIrrlicht/source/Irrlicht/Irrlicht8.0.vcproj
libIrrlicht/source/Irrlicht/Irrlicht9.0.sln
libIrrlicht/source/Irrlicht/Irrlicht9.0.vcproj
libIrrlicht/source/Irrlicht/Irrlicht_mobile6.sln
libIrrlicht/source/Irrlicht/Irrlicht_mobile6.vcproj
libIrrlicht/source/Irrlicht/Irrlicht_xbox.sln
libIrrlicht/source/Irrlicht/Irrlicht_xbox.vcproj
libIrrlicht/source/Irrlicht/SConstruct
libIrrlicht/source/Irrlicht/source.txt
libIrrlicht/source/source.txt
libIrrlicht/tools/

.build-target
build
lib
bin